{% extends "base.html" %}

{% block app_content %}
<div class="container">

    <h4>Searched for <br> Pair One: <strong>{{latitude_one}}</strong> , <strong>{{longitude_one}}</strong> <br>   Pair Two: <strong>{{latitude_two}}</strong> , <strong>{{longitude_two}}</strong> </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Range</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
            {% if data|length>0 %}
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="6" style="text-align:center">No data available</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}