{% extends 'base.html' %}

<!--Placeholder for head-->
{% block head %}
<title>Home</title>

{% endblock %}

<!--Placeholder for body-->
{% block body %}
<div class="container">
  <div class="row">
    <div class="form-group col-md-12">
      <h4>Q6</h4>
        <form action="/q6" method="POST">
            <label for="">Name: </label>
            <input type="text" value="" name="name">
            <label for="">Are you a teacher?(yes/no)</label>
            <input type="text" value="yes" name="isTeacher">
            <input type="submit" value="Submit">
        </form>
    </div>
    <br>
    <br>
    <div class="form-group col-md-12">
    </div>
  </div>
  <hr />
</div>
{% endblock %}
